body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    position: relative;
    display: flex;
}

.container {
    width: 66%;
    margin: auto;
    z-index: 999;
}

.header-list {
    margin: 0;
    padding: 20px 0;

    list-style-type: none;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

.links-list {
    min-height: 20px;
}

.header-list li {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
}

.header-list ul {
    margin: 0;
    padding: 0 0;

    list-style-type: none;

    display: flex;
}

.header-list ul li {
    padding: 0 10px;
}

.text-block {
    position: relative;
    overflow: hidden;
}

.text-block {
    min-width: 50px;
}

.text-block:hover {
    cursor: pointer;
}

.text {
    position: absolute;

    width: 100%;
    transition: transform 0.5s ease;
}

.white-text {
    top: 0;
    color: white;
}

.white-text:hover {
    cursor: pointer;
}

.orange-text {
    bottom: -20px;
    color: #FD5324;   
}

.orange-text:hover {
    cursor: pointer;
}

.link:hover .white-text {
    transform: translateY(-100%);
}

.link:hover .orange-text {
    transform: translateY(-130%);
}

.call-btn button{
    background: none;
    color: #fff;

    border: 1px solid #FD5324;
    border-radius: 12px;

    padding: 15px 15px;

    font-family: 'Inter', sans-serif;
    font-size: 14px;

    cursor: pointer;
}

.call-btn button:hover {
    transition: 0.5s;
    color: #FD5324;
}

.blur-frame {
    position: absolute;
    
    top: 0;
    right: 0;    

    background: linear-gradient(180deg, var(--token-305af9d4-fe33-4ce3-9dac-e261fb045b39, #ff520e) -43%, var(--token-305af9d4-fe33-4ce3-9dac-e261fb045b39, rgb(255, 82, 14)) 100%);

    height: 212px;
    width: 80%;

    filter: blur(100px);
    flex: none;

    opacity: .5;

    overflow: visible;
    z-index: 1;
}

/* ----------------------------------------------------------------------------- */

.main {
    background-color: black;
}

.header-title h1 {
    margin: 0;
    padding: 90px 0 0 0;

    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: normal;

    letter-spacing: 1.2;
    line-height: 1;

    color: #fff;
}

.header-title p {
    margin: 0;
    padding: 15px 0;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;

    color: #D6D6D6;
}